# Importando bibliotecas

In [ ]:
import pandas as pd
import numpy as np

# Carregando a tabela

In [ ]:
df = pd.read_csv("https://github.com/lucasvitorsr/projeto-taxa-de-suicidio/blob/main/base%20de%20dados/base%20de%20dados%20original/master.csv?raw=true")

In [ ]:
df.head()

,country,year,sex,age,suicides_no,population,suicides/100k pop,country-year,HDI for year,gdp_for_year ($),gdp_per_capita ($),generation
0,Albania,1987,male,15-24 years,21,312900,6.71,Albania1987,NaN,"2,156,624,900",796,Generation X
1,Albania,1987,male,35-54 years,16,308000,5.19,Albania1987,NaN,"2,156,624,900",796,Silent
2,Albania,1987,female,15-24 years,14,289700,4.83,Albania1987,NaN,"2,156,624,900",796,Generation X
3,Albania,1987,male,75+ years,1,21800,4.59,Albania1987,NaN,"2,156,624,900",796,G.I. Generation
4,Albania,1987,male,25-34 years,9,274300,3.28,Albania1987,NaN,"2,156,624,900",796,Boomers

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27820 entries, 0 to 27819
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   country             27820 non-null  object
 1   year                27820 non-null  int64
 2   sex                 27820 non-null  object
 3   age                 27820 non-null  object
 4   suicides_no         27820 non-null  int64
 5   population          27820 non-null  int64
 6   suicides/100k pop   27820 non-null  float64
 7   country-year        27820 non-null  object
 8   HDI for year        8364 non-null   float64
 9    gdp_for_year ($)   27820 non-null  object
 10  gdp_per_capita ($)  27820 non-null  int64
 11  generation          27820 non-null  object
dtypes: float64(2), int64(4), object(6)
memory usage: 2.5+ MB

# Editando e Limpando o dataframe

* **Renomeando as colunas**

In [ ]:
df.rename(columns={'HDI for year': 'HDI_for_year', 'country-year':'country_year', 'suicides/100k pop': 'suicides/100k_pop', ' gdp_for_year ($) ':'gdp_for_year', 'gdp_per_capita ($)':'gdp_per_capita'}, inplace=True);

In [ ]:
df.columns

Index(['country', 'year', 'sex', 'age', 'suicides_no', 'population',
       'suicides/100k_pop', 'country_year', 'HDI_for_year', 'gdp_for_year',
       'gdp_per_capita', 'generation'],
      dtype='object')

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27820 entries, 0 to 27819
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   country            27820 non-null  object
 1   year               27820 non-null  int64
 2   sex                27820 non-null  object
 3   age                27820 non-null  object
 4   suicides_no        27820 non-null  int64
 5   population         27820 non-null  int64
 6   suicides/100k_pop  27820 non-null  float64
 7   country_year       27820 non-null  object
 8   HDI_for_year       8364 non-null   float64
 9   gdp_for_year       27820 non-null  object
 10  gdp_per_capita     27820 non-null  int64
 11  generation         27820 non-null  object
dtypes: float64(2), int64(4), object(6)
memory usage: 2.5+ MB

* **Excluindo colunas desnecessárias**

Coluna HDI_for_year possui muitos valores não preenchidos. Logo, descartamos essa variável.

In [ ]:
df.drop("HDI_for_year", axis = "columns", inplace = True)

In [ ]:
df.isnull().sum()

country              0
year                 0
sex                  0
age                  0
suicides_no          0
population           0
suicides/100k_pop    0
country_year         0
gdp_for_year         0
gdp_per_capita       0
generation           0
dtype: int64

Colunas country_year e generation não nos trazem novas informações sobre os dados, logo, descartamos essas colunas.

In [ ]:
df.drop(["country_year", "generation"], axis = "columns", inplace = True)
print(df.columns)

Index(['country', 'year', 'sex', 'age', 'suicides_no', 'population',
       'suicides/100k_pop', 'gdp_for_year', 'gdp_per_capita'],
      dtype='object')

In [ ]:
df.head()

,country,year,sex,age,suicides_no,population,suicides/100k_pop,gdp_for_year,gdp_per_capita
0,Albania,1987,male,15-24 years,21,312900,6.71,"2,156,624,900",796
1,Albania,1987,male,35-54 years,16,308000,5.19,"2,156,624,900",796
2,Albania,1987,female,15-24 years,14,289700,4.83,"2,156,624,900",796
3,Albania,1987,male,75+ years,1,21800,4.59,"2,156,624,900",796
4,Albania,1987,male,25-34 years,9,274300,3.28,"2,156,624,900",796

* **Excluindo países com poucas informações**

In [ ]:
df.groupby("country").count().sort_values("year").head(10)

,year,sex,age,suicides_no,population,suicides/100k_pop,gdp_for_year,gdp_per_capita
country,,,,,,,,
Mongolia,10,10,10,10,10,10,10,10
Dominica,12,12,12,12,12,12,12,12
Macau,12,12,12,12,12,12,12,12
Cabo Verde,12,12,12,12,12,12,12,12
Bosnia and Herzegovina,24,24,24,24,24,24,24,24
Oman,36,36,36,36,36,36,36,36
Saint Kitts and Nevis,36,36,36,36,36,36,36,36
San Marino,36,36,36,36,36,36,36,36
United Arab Emirates,72,72,72,72,72,72,72,72
Nicaragua,72,72,72,72,72,72,72,72

Temos poucos dados sobre os 8 primeiros países listados acima. Logo descartamos os dados sobres esses países.

In [ ]:
paises = ["Mongolia", "Dominica", "Macau", "Cabo Verde", "Bosnia and Herzegovina", "Oman", "Saint Kitts and Nevis", "San Marino"]
for pais in paises:
  df.drop(index = [row for row in df.index if pais == df.loc[row, "country"]], inplace = True)

In [ ]:
df.groupby("country").count().sort_values("year").head(10)

,year,sex,age,suicides_no,population,suicides/100k_pop,gdp_for_year,gdp_per_capita
country,,,,,,,,
United Arab Emirates,72,72,72,72,72,72,72,72
Nicaragua,72,72,72,72,72,72,72,72
Turkey,84,84,84,84,84,84,84,84
Montenegro,120,120,120,120,120,120,120,120
Maldives,120,120,120,120,120,120,120,120
Fiji,132,132,132,132,132,132,132,132
Kiribati,132,132,132,132,132,132,132,132
Sri Lanka,132,132,132,132,132,132,132,132
Aruba,168,168,168,168,168,168,168,168
Cyprus,178,178,178,178,178,178,178,178

* **Criando uma coluna que caracteriza os países de acordo com o seu continente**

Carregando dataframe que relaciona países e continentes

In [ ]:
continente = pd.read_csv("https://github.com/lucasvitorsr/projeto-taxa-de-suicidio/blob/main/base%20de%20dados/base%20de%20dados%20original/countryContinent.csv?raw=true", encoding = "latin1")

In [ ]:
continente.head()

,country,code_2,code_3,country_code,iso_3166_2,continent,sub_region,region_code,sub_region_code
0,Afghanistan,AF,AFG,4,ISO 3166-2:AF,Asia,Southern Asia,142.0,34.0
1,Åland Islands,AX,ALA,248,ISO 3166-2:AX,Europe,Northern Europe,150.0,154.0
2,Albania,AL,ALB,8,ISO 3166-2:AL,Europe,Southern Europe,150.0,39.0
3,Algeria,DZ,DZA,12,ISO 3166-2:DZ,Africa,Northern Africa,2.0,15.0
4,American Samoa,AS,ASM,16,ISO 3166-2:AS,Oceania,Polynesia,9.0,61.0

Conferindo se todos os países em nosso dataframe principal está representado no dataframe continente

In [ ]:
def confere(principal, continentes):
  for pais in principal.unique():
    if pais in continentes.unique():
      pass
    else:
      print(pais, "não encontrado")

confere(df.country, continente.country)

Republic of Korea não encontrado
Saint Vincent and Grenadines não encontrado
United Kingdom não encontrado
United States não encontrado

Editando a tabela continentes para que os nomes dos países sejam o mesmo nos dois dataframes

In [ ]:
continente.loc[118,'country'] = 'Republic of Korea'
continente.loc[continente.country.str.contains("Vincent"),'country'] = 'Saint Vincent and Grenadines'
continente.loc[continente.country.str.contains("King"),'country'] = 'United Kingdom'
continente.loc[continente.country.str.contains("United States of America"),'country'] = 'United States'

confere(df.country, continente.country)

In [ ]:
df = df.merge(continente[["country", "continent"]])
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 27642 entries, 0 to 27641
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   country            27642 non-null  object
 1   year               27642 non-null  int64
 2   sex                27642 non-null  object
 3   age                27642 non-null  object
 4   suicides_no        27642 non-null  int64
 5   population         27642 non-null  int64
 6   suicides/100k_pop  27642 non-null  float64
 7   gdp_for_year       27642 non-null  object
 8   gdp_per_capita     27642 non-null  int64
 9   continent          27642 non-null  object
dtypes: float64(1), int64(4), object(5)
memory usage: 2.3+ MB

In [ ]:
df.sample(5)

,country,year,sex,age,suicides_no,population,suicides/100k_pop,gdp_for_year,gdp_per_capita,continent
12324,Ireland,2011,male,75+ years,11,93030,11.82,"239,018,536,582",56655,Europe
16879,Montenegro,2000,female,5-14 years,0,43461,0.00,"984,297,589",1701,Europe
2345,Azerbaijan,2004,female,15-24 years,4,823000,0.49,"8,680,472,169",1122,Asia
19918,Puerto Rico,2013,female,15-24 years,2,278008,0.72,"102,450,000,000",29510,Americas
11783,Iceland,1998,male,15-24 years,5,21660,23.08,"8,453,704,212",33513,Europe

* **Conferindo a proporcionalidade das colunas categóricas**

In [ ]:
df.sex.value_counts()

male      13821
female    13821
Name: sex, dtype: int64

In [ ]:
df.age.value_counts()

15-24 years    4612
35-54 years    4612
75+ years      4612
25-34 years    4612
55-74 years    4612
5-14 years     4582
Name: age, dtype: int64

In [ ]:
df.continent.value_counts()

Europe      11358
Americas     9166
Asia         5308
Oceania       972
Africa        838
Name: continent, dtype: int64

In [ ]:
df.year.value_counts()

2009    1056
2001    1056
2010    1044
2002    1032
2007    1032
2003    1032
2000    1020
2008    1020
2006    1020
2011    1008
2004    1008
2005     996
1999     984
2012     972
2013     960
1998     948
1995     936
1997     924
1996     924
2014     912
1994     804
1993     780
1992     768
1990     756
1991     756
2015     744
1987     648
1989     624
1988     588
1986     576
1985     564
2016     150
Name: year, dtype: int64

* **Excluindo continentes com poucos dados**

A África possui o maior número de países, no entanto nesse dataset, temos muito pouco dados comparados a outros continentes. Logo, descartaremos dados dos países africanos e concentraremos nosso estudo para países fora da áfrica.

In [ ]:
df.drop(index = [row for row in df.index if "Africa" == df.loc[row, "continent"]], inplace = True)

In [ ]:
df.continent.unique()

array(['Europe', 'Americas', 'Asia', 'Oceania'], dtype=object)

* **Excluindo anos com poucos dados**

2016 possui poucos dados

In [ ]:
df.drop(index = [row for row in df.index if 2016 == df.loc[row, "year"]], inplace = True)

In [ ]:
np.sort(df.year.unique())

array([1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995,
       1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006,
       2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015])

In [ ]:
df.head()

,country,year,sex,age,suicides_no,population,suicides/100k_pop,gdp_for_year,gdp_per_capita,continent
0,Albania,1987,male,15-24 years,21,312900,6.71,"2,156,624,900",796,Europe
1,Albania,1987,male,35-54 years,16,308000,5.19,"2,156,624,900",796,Europe
2,Albania,1987,female,15-24 years,14,289700,4.83,"2,156,624,900",796,Europe
3,Albania,1987,male,75+ years,1,21800,4.59,"2,156,624,900",796,Europe
4,Albania,1987,male,25-34 years,9,274300,3.28,"2,156,624,900",796,Europe

In [ ]:
df.to_csv("dataset_limpo.csv", index = False)

# Descrição das colunas

- country: País
- year: Ano
- sex: Gênero
- age: Faixa de idade/Geração
- suicides_no: Número de suícidios de acordo com country-year-sex-age
- population: População de acordo com country-year-sex-age
- suicides/100k_pop: Taxa de suicídios para tal população
- gdp_for_year: PIB do país no ano
- gdp_per_capita: PIB do país dividido pela sua população
- continent: Continente do País